.layout {
  &__header {
    background: #F2EFF2 !important;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #F2EFF2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed !important;
    top: 0;
    z-index: 999 !important;
    right: 0;
    left: 0;
    opacity: 1;
  }

  &__logo {
    color: #1D76F4;
    width: 20%;
    text-align: center;
    text-decoration: none;
    strong {
      font-size: 25px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    // justify-content: flex-start;
    padding: 0 20px;

    &--item {
      margin: 0 5px !important;
    }
  }

}

.bis_skin_checked {

}

.footer {
  margin-top: 10px;
  background-color: #2e2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border: #2e2c2c;
  p {
    text-align: center;
    color: #fff;
  }
}